<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <ion-img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/game-of-thrones-castles-1501267346.png?crop=1.00xw:0.893xh;0,0.0145xh&resize=300:*"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Lançamentos <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
        </ion-card-subtitle>
        <ion-card-title>Game of Thrones
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sucesso entre os livros mais vendidos, a série de obras "A Song of Ice and Fire", de George R.R. Martin, é levada à tela quando HBO decide navegar a fundo pelo gênero e recriar a fantasia medieval épica. Este é o retrato de duas famílias poderosas - reis e rainhas, cavaleiros e renegados, homens honestos e mentirosos - disputando um jogo mortal pelo controle dos Sete Reinos de Westeros para assumir o Trono de Ferro. A série foi filmada em Malta e no norte da Irlanda, tendo participação do escritor dos livros.</p>
      </ion-card-content>
    </ion-card> 
</ion-content>
