<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://img.ibxk.com.br///2015/09/25/25163207124126-t1200x480.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Seja Bem Vindo <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
        </ion-card-subtitle>
        <ion-card-title>Movie News
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> 
</ion-content>
